.welcome-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;
  width: 100vw;
  height: 100vh;
  background: #3f51b5;
}

a {
  color: #fff;
}

.product-container {
  padding: 8px;
}

.product-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.product-title {
  text-align: center;
}
